/*
 * 立芯基础样式/*
 * 对weui基础样式覆盖并改装
 * 创建者：yhc 
 * 创建日期：2017-08-16
*/
body, html { height:100%; -webkit-tap-highlight-color: transparent; background-color:#ebebeb; }
a{ color:#28ce57;}
ul,li{ padding:0; margin:0; list-style:none;}
*{WORD-WRAP:break-word;TABLE-LAYOUT:fixed;word-break:break-all;}
/*开发css*/
.ms-controller, .ms-important, [ms-controller], [ms-important] { visibility: hidden;}

/*通用css代码*/
.iconcolor {
          /* 通过设置 font-size 来改变图标大小 */
          width: 1em; height: 1em;
          /* 图标和文字相邻时，垂直对齐 */
          vertical-align: -0.15em;
          /* 通过设置 color 来改变 SVG 的颜色/fill */
          fill: currentColor;
          /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
          overflow: hidden;
		  font-size:18px;
        }
/*快速基础样式*/
.zindex0{ z-index:0;}
.zindex1{ z-index:1;}
.zindex2{ z-index:2;}
.hide{display: none;}
.col-100{ width:100%;}
.col-90{ width:90%;}
.col-80{ width:80%;}
.col-70{ width:70%;}
.col-50{ width:50%;}
.col-40{ width:40%;}
.col-35{ width:35%;}
.col-30{ width:30%;}
.col-25{ width:25%;}
.col-20{ width:20%;}
.col-18{ width:18%;}
.col-15{ width:15%;}
.col-10{ width:10%;}
.h100{ height:100%;}
.hidden{ overflow:hidden;}
.t-center{ text-align:center;}
.t-left{ text-align:left;}
.t-right{ text-align:right;}
.middle{ vertical-align:middle;}
.fl{ float:left !important;}
.fr{ float:right !important;}
.clear:before,.clear:after{ content: " "; display: table;}
.clear:after {clear: both;}
.po_r{ position:relative !important;}
.po_ab_l{ position:absolute !important; top:0; left:0;}
.po_ab_r{ position:absolute !important; top:0; right:0}
.block {display:block;}
.iblock{ display:inline-block;}
.tcell{display: table-cell;}
.text-indent{text-indent:2em;}
.radius-4{ border-radius:4px;}
.radius-cirle{ border-radius:50%;}
.bg_white{ background-color:#fff;}
.bg_black{background-color:#000;}
.bg_gray{ background-color:#f3f3f3;}
.body-bg-grn{ background-color:#a4e9cd;}
.co_ff{ color:#fff!important;}
.co_e0{ color:#e0e0e0!important;}
.co_a3{ color:#a3a3a3!important;}
.co_99{ color:#999!important;}
.co_88{ color:#888!important;}
.co_77{ color:#777!important;}
.co_66{ color:#666!important;}
.co_55{ color:#555!important;}
.co_44{ color:#444!important;}
.co_33{ color:#333!important;}
.co_green{ color:#28ce57;}

.fz_we{ font-weight:bold!important;}
.fz_nor{ font-weight:normal!important;}
.fz_0{ font-size:0!important;}
.fz_10{ font-size:10px!important;}
.fz_11{ font-size:11px!important;}
.fz_12{ font-size:12px!important;}
.fz_13{ font-size:13px!important;}
.fz_14{ font-size:14px!important;}
.fz_15{ font-size:15px!important;}
.fz_16{ font-size:16px!important;}
.fz_18{ font-size:18px!important;}
.fz_20{ font-size:20px!important;}
.fz_22{ font-size:22px!important;}
.fz_24{ font-size:24px!important;}
.fz_26{ font-size:26px!important;}
.fz_28{ font-size:28px!important;}
.fz_30{ font-size:30px!important;}
.fz_40{ font-size:40px!important;}
.fz_42{ font-size:42px!important;}
.fz_50{ font-size:50px!important;}
.fz_60{ font-size:60px!important;}
.fz_70{ font-size:70px!important;}
.fz_80{ font-size:80px!important;}
.fz_90{ font-size:90px!important;}
.fz_100{ font-size:100px!important;}
.fz_120{ font-size:120px!important;}

.mr-5{ margin-right:-5px!important;}
.mt0{ margin-top:0px!important;}
.mt5{ margin-top:5px!important;}
.mt8{ margin-top:8px!important;}
.mt10{ margin-top:10px!important;}
.mt12{ margin-top:12px!important;}
.mt15{ margin-top:15px!important;}
.mt20{ margin-top:20px!important;}
.mb0{ margin-bottom:0px!important;}
.mb0{ margin-bottom:0px!important;}
.mb1{ margin-bottom:1px!important;}
.mb5{ margin-bottom:5px!important;}
.mb8{ margin-bottom:8px!important;}
.mb10{ margin-bottom:10px!important;}
.mb12{ margin-bottom:12px!important;}
.mb15{ margin-bottom:15px!important;}
.mb20{ margin-bottom:20px!important;}
.ml0{ margin-left:0px!important;}
.ml5{ margin-left:5px!important;}
.ml8{ margin-left:8px!important;}
.ml10{ margin-left:10px!important;}
.ml15{ margin-left:15px!important;}
.ml20{ margin-left:20px!important;}
.mr0{ margin-right:0px!important;}
.mr5{ margin-right:5px!important;}
.mr8{ margin-right:8px!important;}
.mr10{ margin-right:10px!important;}
.mr15{ margin-right:15px!important;}
.mr20{ margin-right:20px!important;}
.ma0{ margin:0!important;}
.ma5{ margin:5px!important;}
.ma10{ margin:10px!important;}
.ma15{ margin:15px!important;}
.ma20{ margin:20px!important;}
.mauto{ margin-left:auto!important;margin-right:auto!important;}

.pt0{ padding-top:0px!important;}
.pt5{ padding-top:5px!important;}
.pt9{ padding-top:9px!important;}
.pt10{ padding-top:10px!important;}
.pt15{ padding-top:15px!important;}
.pt20{ padding-top:20px!important;}
.pt44{ padding-top:44px!important;}
.pt80{ padding-top:80px!important;}
.pt88{ padding-top:88px!important;}
.pt50{ padding-top:50px!important;}
.pb0{ padding-bottom:0px!important;}
.pb5{ padding-bottom:5px!important;}
.pb10{ padding-bottom:10px!important;}
.pb15{ padding-bottom:15px!important;}
.pb20{ padding-bottom:20px!important;}
.pb50{ padding-bottom:54px!important;}
.pl0{ padding-left:0px!important;}
.pl5{ padding-left:5px!important;}
.pl10{ padding-left:10px!important;}
.pl15{ padding-left:15px!important;}
.pl20{ padding-left:20px!important;}
.pr0{ padding-right:0px!important;}
.pr5{ padding-right:5px!important;}
.pr10{ padding-right:10px!important;}
.pr15{ padding-right:15px!important;}
.pr20{ padding-right:20px!important;}
.pr60{ padding-right:60px!important;}
.pa0{ padding:0!important;}
.pa5{ padding:5px!important;}
.pa10{ padding:10px!important;}
.pa15{ padding:15px!important;}
.pa20{ padding:20px!important;}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.bor-green{ border:1px solid #28ce57;}
.bor-org{ border:1px solid #ff8a00;}
.bor-gray{ border:1px solid #e0e0e0;}
.bor-ddd{ border:1px solid #ddd;}
.bor-no{ border:none;}
.bor-top{ border-top:1px solid #f0f0f0;}
.bor-l{ border-left:3px solid #28ce57;}

/*超出省略号*/
.w-over{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.txt-over{display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;-webkit-line-clamp: 1;}

/*tabbar样式覆盖*/
.weui-tabbar{ background-color:#fbfbfb; position:fixed;}
.weui-tabbar__item{ padding-top:2px;}
.weui-tabbar__item.weui-bar__item--on .weui-tabbar__icon>i,.weui-tabbar__item.weui-bar__item--on i.weui-tabbar__icon,.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label{ color: #28ce57;}
.weui-tabbar__label { font-size:12px;}
.weui-footer_fixed-bottom{ bottom:10px;}
/*weui-navbar样式覆盖*/
.weui-navbar__item{padding:5px 0 4px;}
.weui-flex .weui-navbar__item{ padding:9px 0 9px;}
.weui-navbar__item:after{ border-right:0;}
.weui-navbar__item.weui-bar__item--on{ background-color:#fff; color:#28ce57; border-bottom:2px solid #28ce57;}
.weui-navbar__item.weui-bar__item--on:after{}

/*表单类样式覆盖*/
.weui-loadmore.weui-loadmore_line{ margin-bottom:0;}
.weui-loadmore_line .weui-loadmore__tips{ background:none;}
/*单选样式*/
.icon-checked{display: block; width: 14px; height: 14px;border: 1px solid #ccc;border-radius: 50%; background: #ffffff; margin-top:2px;}
.icon-checked i{background: #ffffff; width: 6px; height: 6px; display: block; margin: 4px; border-radius: 50%;}
.weui-cells_radio .weui-check:checked+.icon-checked{background: #28ce57;border: 1px solid #28ce57;}
/*picker样式覆盖*/
.weui-picker-modal .picker-modal-inner{ background-color:#fbfbfb; font-size:16px;}
.toolbar .picker-button{ color:#28ce57;}
/*.weui-cells样式覆盖*/
.weui-cells{ font-size:15px;}
.weui-cells+.weui-cells.mt0:before{ border-top:0;}
/*panel列表样式覆盖*/
.weui-cells__title{background-color: #fff; position:relative; margin-bottom:0; z-index:0;}
.weui-cells__title:before {top: 0;border-top: 1px solid #d9d9d9; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(.5); transform: scaleY(.5);content: " ";  position: absolute;  left: 0; right: 0;  height: 1px;  color: #d9d9d9;}
.weui-media-box_appmsg .weui-media-box__thumb{ height:100%;}

.weui-label.wid-s{ width:40px; margin-top:1px;}
/*.weui-cell__bd{-webkit-box-flex:0; -webkit-flex: none;flex:none;}*/
.weui-cell__hd+.weui-cell__bd,.weui-cell__bd.bd-txt,.weui-cell__ft{-webkit-box-flex: 1; -webkit-flex: 1;flex: 1;}
.weui-media-box__desc{ color:#888;line-height: 1.5;}
/*按钮样式覆盖*/
.weui-btn_primary{background-color: #28ce57; border:1px solid #1aad19;}
.weui-btn_primary:after{ border:0;}
.weui-dialog__btn{ color: #2dae99;}
.weui-btn_plain-primary {color: #28ce57; border: 1px solid #28ce57;}
.weui-btn-area.weui-btn-area-inline{display: -webkit-box;display: -webkit-flex;display: flex;}
.weui-btn-area.weui-btn-area-inline .weui-btn{margin-top: auto; margin-right: 15px; width: 100%; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.weui-btn-area.weui-btn-area-inline .weui-btn:last-child { margin-right: 0;}
.weui-btn_plain-primary:after { border-color:#28ce57;}
/*颜色样式覆盖*/
.color-primary { color:#596c96 !important;}
.color-def { color:#69a0f4 !important;}
.color-danger,.color-error { color: #f76260 !important;}
.color-warning { color:#ff8a00 !important;}
.color-success { color:#4cd964 !important;}
.color-blue{ color:#68a0f4 !important;}
/*表格*/
.table th{text-align:left; font-size:13px; color:#888; font-weight:normal; padding:5px 0; background:#f6f6f6;}
.table td{ font-size:14px; padding:10px 0; color:#666;}
.table th:first-child,.table td:first-child{ padding-left:10px;}

/*首页TIPS提示*/
.bantips .weui-cell__hd{ border-right:1px solid #ddd;}
.bantips img{ height:30px;}
.weui-cell_warn.border{ border:1px solid #fd4730;}
.bantips .weui-cell__bd,.bantips .weui-cell__bd .swiper-tips .swiper-slide{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;}
.swiper-tips{ height:30px; line-height:30px;}
/*loadmore-统计title*/
.weui-loadmore.ser-tit{ width:100%;}
.weui-loadmore_line.ser-tit{border-top:1px dashed #f8b707; margin-top:30px; margin-bottom:-10px;}
.weui-loadmore_line.ser-tit .weui-loadmore__tips{ background-color:#f8b707; border-radius:30px; border:4px solid #ffdb96;top: -20px;}
.star{ background:#fbf6ec; width:94%; margin-left:3%; margin-right:3%;}
/*swiper样式*/
.swiper-container img {display: block;width: 100%;height:auto;}
.swiper-pagination-bullet-active{ background-color:#ff8a00;}
.swiper-pagination{ bottom:5px !important;}
.star-icon.po_ab_l{ left:0; top:-25px;transform: rotate(-15deg);}

/*数据图*/
.data_view_limain{ min-height:300px; height:auto;}
/*无数据tips*/
.tips.po_r{ width:100%; overflow:hidden; margin-top:13%;}
.tips.po_ab_l{ width:100%;top:50%; margin-top:-110px;}


.fixed-btm{position: fixed; bottom: 0;  left: 0;  right: 0;}
.fixed-btm:before {  content: " ";  position: absolute;  left: 0;top:0;  width: 100%;  height: 1px;  color: #ddd;  -webkit-transform: scaleY(.5);  transform: scaleY(.5);  border-top: 1px solid #ddd;  -webkit-transform-origin: 0 0;  transform-origin: 0 0;}
.weui-agree__checkbox{ width:16px; height:16px;}
.weui-agree__checkbox:checked:before{ font-size:16px;}
.fixed-btm .weui-btn{ padding-left:0; padding-right:0;}

/*底部tab*/
.tab-edit{ width:54px; height:54px; border:1px solid #f8b707;left:50%; margin-left:-27px;top:-4px; background:#f8b707;}


/*页面标题部分*/
.header-title{ position:fixed; height:44px; z-index: 500;top: 0;left: 0;width: 100%; background-color:#fff; color:#000;}
.header-title a{line-height:44px;}
.header-title:after{content: " "; position: absolute;left: 0; width: 100%; height: 1px; color: #ddd; -webkit-transform: scaleY(.5); transform: scaleY(.5);bottom: 0; border-bottom: 1px solid #ddd; -webkit-transform-origin: 0 100%; transform-origin: 0 100%;}
.header-title .header-left{position: absolute; top:5px; left:5px;font-size: 16px;}
.header-title .header-right{position: absolute; top:5px; right:5px;font-size: 16px;}
.header-title .header-left a,.header-title .header-right a{ display:block; height:34px; line-height:34px; padding:0 8px;color:#28ce57;}
.header-title h3{margin: 0 18%; line-height: 44px; text-align: center;  height: 44px; font-size: 17px;  font-weight: 400;  width: 64%;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tit-flex a.po_r .weui-input{ width:auto; min-width:80px; text-align:center; height:44px; line-height:44px; margin-top:-2px;}
.header-title .weui-btn.weui-btn_mini.weui-btn_primary{ line-height:2.6;}
.tit-flex{ height:44px; line-height:44px;white-space:nowrap; overflow: hidden; text-overflow: ellipsis;}
.tit-flex .po_r{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; word-wrap: break-word; word-break: break-all;}
@media all and (min-width: 320px) {
	.tit-flex .po_r{ max-width:132px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:70px; height:70px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:110px; height:110px;}/*课程圈图片*/
}
@media  all and (min-width: 360px) {
	.tit-flex .po_r{ max-width:168px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:80px; height:80px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:126px; height:126px;}/*课程圈图片*/
}
@media  all and (min-width: 374px) {
	.tit-flex .po_r{ max-width:184px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:86px; height:86px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:135px; height:135px;}/*课程圈图片*/
}
@media all and (min-width: 412px) {
	.tit-flex .po_r{ max-width:214px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:98px; height:98px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:152px; height:152px;}/*课程圈图片*/
}
@media all and (min-width: 414px) {
	.tit-flex .po_r{ max-width:220px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:100px; height:100px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:156px; height:156px;}/*课程圈图片*/
}
@media all and (min-width: 768px) {
	.tit-flex .po_r{ max-width:500px;}/*课程圈标题长度*/
	.interact-thumb.thumb-s{ width:116px; height:116px;}/*课程圈图片*/
	.interact-thumb.thumb-b{ width:180px; height:180px;}/*课程圈图片*/
}
.header-title .placeholder.col-20{ min-width:90px; max-width:130px;}
.header-title .placeholder.col-10{ min-width:44px; max-width:130px;}
/*二级标题*/
.header-t2{top:44px;position:fixed; background-color:#fcfcfc;z-index: 500; width: 100%; height:36px; }
.header-t2:after { content: " "; position: absolute; left: 0; bottom: 0; right: 0; height: 1px;border-bottom: 1px solid #ccc; color: #ccc; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleY(.5); transform: scaleY(.5);}
.header-t2 .weui-flex { height:36px; overflow:hidden;}
.header-t2 .weui-flex .weui-flex .weui-flex__item{height:36px;line-height:36px;}
.header-t2 .weui-flex .iconfont{ height:36px; line-height:36px;}
/*课程圈*/
.interact-box{ padding-left:46px;}
.interact-box:after{bottom: 0; border-bottom: 1px solid #e5e5e5; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleY(.5); transform: scaleY(.5);content: " "; position: absolute; left:46px; right: 0; height: 1px; color: #e5e5e5;}
.interact-box:last-child:after{border-bottom:0; height:0;}
.interact-box .po_ab_l.radius-cirle .weui-media-box__thumb.radius-cirle{width:36px; height:36px;border:2px solid #ddd;}
.weui-media-box_appmsg .weui-media-box__hd.cour-box__hd { width: 150px; height: 85px; max-width:46%; line-height: 85px; text-align: center;}
.weui-form-preview__ft.cour-ft{ line-height:38px;}
.weui-form-preview__ft.cour-ft .weui-form-preview__btn:after{ top:10px; bottom:10px;}
.bg_badge{ background:#f0f0f0;}
.cour-badges{ line-height:26px; overflow:hidden;}
.bg_badge-acv{ color:#fff; background:#ff8a00;}
.p-more:before{content:"展开全部"}
.p-more.zk:before{content:"收起"}
.arrow,.arrow:after { position: absolute;  display: block; width: 0; height: 0; border-color: transparent;  border-style: solid;}
.arrow:after { content: ""; border-width: 10px;}
.arrow{border-width: 8px;}
.right .arrow{top: 50%; left: 2px; margin-top: -8px; border-right-color: #999; border-right-color: rgba(0,0,0,.25); border-left-width: 0;}
.right>.arrow:after { bottom: -10px; left: 1px; content: " "; border-right-color: #f3f3f3; border-left-width: 0;}
.interact-thumb{ overflow:hidden; background: no-repeat 50%; background-size: cover;}
.interact-thumb .interact-img{ width:100%; height:100%;}
.weui-photo-browser-modal.weui-photo-browser-modal-visible{ z-index:501;}
.po_ab_l.vedio-btn{ width:100%; height:100%; text-align:center;}
.po_ab_l.vedio-btn .iconfont,.po_ab_l.vedio-btn .weui-loading{top:50%;left:50%; margin-left:-15px;margin-top:-22px;}
.vedio-img { width:auto; height:auto; max-width:180px; max-height:180px;}
.weui-media-box__title.weui-flex a.icon-switch.placeholder{ max-height:22px;}
/*新提醒*/
.weui-badge.badge-new{ width:20px; text-align:center; height:20px; line-height:20px; padding:0;}
/*发动态*/
.send-txtare{ outline:none; resize:vertical;overflow-y:auto; }
.weui-actionsheet__menu{ overflow:hidden;}
.weui-actionsheet__menu .send-txtare{line-height:26px;}
.textbox {min-height: 26px;  max-height: 300px; _height: 26px;  margin-left: auto;  margin-right: auto;    outline: 0; word-wrap: break-word;  overflow-x: hidden;  overflow-y: auto;  _overflow-y: visible;}
.textbox:empty::before{ color:lightgrey;  content:attr(placeholder);}  
.weui-actionsheet__menu .textbox{ border-bottom:1px solid #28ce57;}
.vedio-box{ width:80%; height:48px;}
.weui-actionsheet__title .toolbar{ margin-top:-8px;}
.weui-voice,.weui-vedio{display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000;background: rgba(0,0,0,.6);}
/*语音+动画*/
.voice-box{width:80px; height:130px; }
.div-voice{ width:80px; height:80px; text-align:center; line-height:62px;}
.div-voice.bg-success{ border:10px solid #bbfdcd;}
@keyframes myfirst
{
from { border-color:#fff;}
to { border-color:#bbfdcd;}
}
.anima-voice{animation: myfirst 1.5s infinite;}
.interact-voice +.fz_14.iblock{ height:40px; line-height:40px;}
.voice-gif{ margin-top:4px; margin-left:4px;}

.weui-uploader__input-box{ width:79px; height:79px;}
.po_ab_r.close-a{ background:#000; color:#fff; width:26px; height:26px; text-align:center; line-height:26px;}
/*关联学生*/
.weui-dialog.stus-list{ width:100%; height:100%; max-width:100%;top:50%;}
.weui-dialog.stus-list .pt44.po_r{ height:100%; overflow-y:auto;}
/*详情*/
.desc_ok{ padding-right:40px;}
.weui-media-box__desc.det-ok-more{    -webkit-line-clamp: 200000;}
.weui-tab .weui-tab__bd-item .mt0.weui-panel:before{ height:0; border-top:0; color:#FFF;}
.weui-media-box_appmsg .box_appmsg-table .weui-media-box__thumb{ height:auto;}
.box_appmsg-table td{ padding-left:;}
/*点评*/
.weui-rater a{ color:#ccc;}
.weui-rater a.checked{ color:#ff8a00;}
/*课程列表*/
.bg_shade{background: -webkit-linear-gradient(left top, #01ada3 , #28ce57);  background: -o-linear-gradient(bottom right, #01ada3, #28ce57);   background: -moz-linear-gradient(bottom right, #01ada3, #28ce57);  background: linear-gradient(to bottom right, #01ada3 , #28ce57); }
.tit-list:after{ content: " "; position: absolute; left:50%; margin-left:-20px; width:40px; bottom:0; height: 1px; color: #d9d9d9;border-bottom:1px solid #e9e9e9;}
.weui-media-box__desc.desc-2{ height:40px;}
.cour-one.weui-media-box:before{ left:0;}
.weui-media-box__info{ padding-bottom:0; line-height:1.2em;}

/*我的*/
.bg_statis{background: -webkit-linear-gradient(top, #d9f8e0 , #a4e9cd);  background: -o-linear-gradient(bottom , #d9f8e0, #a4e9cd);   background: -moz-linear-gradient(bottom, #d9f8e0, #a4e9cd);  background: linear-gradient(to bottom, #d9f8e0 , #a4e9cd); }
.sta-top{ border-top-left-radius:8px;border-top-right-radius:8px; border-top:2px solid #ffd27c;}
.sta-top.top-l{border-top-left-radius:6px;border-top-right-radius:0;border-bottom-left-radius: 6px;border-bottom-right-radius: 0; background:url(../image/top-l_bg.png) right top no-repeat #fff;}
.sta-top.top-m{border-bottom-left-radius:0;border-bottom-right-radius: 0;}
.sta-top.top-r{border-top-left-radius:0;border-top-right-radius:6px;border-bottom-left-radius:0;border-bottom-right-radius:6px; background:url(../image/top-r_bg.png) left top no-repeat #fff;}
.sta-top.top-m .weui-media-box_appmsg .weui-media-box__hd{ width:80px; height:80px;}
.sta-top .weui-media-box_appmsg .weui-media-box__hd.po_r .po_ab_l{ left:-13px; top:-26px;}
.sta-top.top-m .weui-media-box_appmsg .weui-media-box__hd.po_r .po_ab_l{ left:-18px; top:-31px;}

.col-10.sta-top.top-l,.col-10.sta-top.top-r{ height:174px;}
/*.num{width: 24px; text-align: center; height: 24px; line-height: 24px;}*/
.num.po_ab_r { bottom:0;right:0; top: auto; width:26px; height:40px;}
.num.po_ab_r .num.po_r{ width:30px; height:20px; text-align:center;}
.num.po_ab_r .num.po_r strong.w-over{ width:24px; margin-left:-2px; margin-top:-3px;}
.weui-rater.all-rater{ width:90px; height:18px;}
.weui-rater-box.po_ab_l[data-num = "0"],.weui-rater-box.po_ab_l[data-num = "1"]{left:0;}
.weui-rater-box.po_ab_l[data-num = "2"],.weui-rater-box.po_ab_l[data-num = "3"]{left:19px;}
.weui-rater-box.po_ab_l[data-num = "4"],.weui-rater-box.po_ab_l[data-num = "5"]{left:38px;}
.weui-rater-box.po_ab_l[data-num = "6"],.weui-rater-box.po_ab_l[data-num = "7"]{left:57px;}
.weui-rater-box.po_ab_l[data-num = "8"],.weui-rater-box.po_ab_l[data-num = "9"]{left:76px;}

.pt44 .weui-cells__title.mt0:first-child+.weui-cells.mt0:before{ border-top:#fff;}
.placeholder.col-50.t-right{ min-width:116px;}
.rater-star.po_r{ background:url(../image/star.png); width:70px; height:14px;}
.rater-starc.po_ab_l{ background:url(../image/star-c.png);height:100%;}
/*全部排名*/
.more-header.header-title{ background:#d9f8e0;}
.weui-media-box_appmsg .weui-media-box__hd.sta-more{ width:42px; height:42px;}
.num-f{ width:30px;}
/*设置*/
.bg_shade-set{background: -webkit-linear-gradient(left top, #edfcff, #7ef09e,#d2f8db);  background: -o-linear-gradient(bottom right, #edfcff, #7ef09e,#d2f8db);   background: -moz-linear-gradient(bottom right, #edfcff, #7ef09e,#d2f8db);  background: linear-gradient(to bottom right, #edfcff, #7ef09e,#d2f8db); }
.weui-cell.set-cell:before{ left:10px; right:10px;}
.set-cell .weui-cell__bd { -webkit-box-flex: 0; -webkit-flex: none; flex: none;}
.set-cell .weui-cell__ft{overflow: hidden; text-overflow: ellipsis;  white-space: nowrap; word-wrap: normal; word-wrap: break-word; word-break: break-all;}